[submodule "site/js/satellite-js"]
	path = site/js/satellite-js
	url = https://github.com/anoved/satellite-js.git
[submodule "site/js/three.js"]
	path = site/js/three.js
	url = git://github.com/mrdoob/three.js.git
